<div class="columns is-mobile">
  <div class="column is-10 is-offset-1">
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image promotions-image">
            <img src="https://images-americanas.b2w.io/produtos/01/00/item/119932/4/119932411_1GG.jpg" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p class="promotions-title">
              Sofá 3 Lugares Reclinável e Assento Retrátil Michelangelo Suede Marrom - Orb
            </p>
            <p class="promotions-price">R$ 1.499,99</p>
          </div>
          <nav class="level">
            <div class="level-left">
              <a class="level-item modal-button" data-target="#comments-modal">
                <span class="icon is-small">
                  <i class="fa fa-comments"></i>              
                </span>
                5 Comentários
              </a>
              <a class="level-item button">
                <span class="icon is-small"><i class="fa fa-external-link"></i></span>
                <span>Ir para a Loja</span>
              </a>
              <a class="level-item button is-danger is-outlined">
                <span class="icon is-small"><i class="fa fa-heart"></i></span>
                <span>2</span>
              </a>
              <span>enviada 10 minutos atrás</span>
            </div>
            <div class="level-right">
              <a class="level-item has-text-centered">
                <figure class="image is-48x48">
                  <img class="user-avatar" src="http://placehold.it/48x48">
                </figure>
                Lucas
              </a>
            </div>
          </nav>
        </div>
      </article>
    </div>
  </div>
</div>

<div class="columns is-mobile">
  <div class="column is-10 is-offset-1">
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image promotions-image">
            <img src="https://images-americanas.b2w.io/produtos/01/00/item/124511/2/124511291_1GG.jpg" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p class="promotions-title">
              Notebook ASUS Z550MA-XX005T Intel Celeron Quad Core 4GB 500GB LED 15,6" Windows 10 - Branco
            </p>
            <p class="promotions-price">R$ 1.649,99</p>
          </div>
          <nav class="level">
            <div class="level-left">
              <a class="level-item">
                <span class="icon is-small">
                  <i class="fa fa-comments"></i>              
                </span>
                8 Comentários
              </a>
              <a class="level-item button">
                <span class="icon is-small"><i class="fa fa-external-link"></i></span>
                <span>Ir para a Loja</span>
              </a>
              <a class="level-item button is-danger is-outlined">
                <span class="icon is-small"><i class="fa fa-heart"></i></span>
                <span>2</span>
              </a>
              <span>enviada 16 minutos atrás</span>
            </div>
            <div class="level-right">
              <a class="level-item has-text-centered">
                <figure class="image is-48x48">
                  <img class="user-avatar" src="http://placehold.it/48x48">
                </figure>
                Lucas
              </a>
            </div>
          </nav>
        </div>
      </article>
    </div>
  </div>
</div>

<div class="columns is-mobile">
  <div class="column is-10 is-offset-1">
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image promotions-image">
            <img src="https://images-americanas.b2w.io/produtos/01/00/item/122701/5/122701518_1GG.png" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p class="promotions-title">
              Smart TV LED 48" Samsung UN48J5500AGXZD Full HD com Conversor Digital 3 HDMI 2 USB Wi-Fi 120Hz CMR
            </p>
            <p class="promotions-price">R$ 2.759,99</p>
          </div>
          <nav class="level">
            <div class="level-left">
              <a class="level-item">
                <span class="icon is-small">
                  <i class="fa fa-comments"></i>              
                </span>
                3 Comentários
              </a>
              <a class="level-item button">
                <span class="icon is-small"><i class="fa fa-external-link"></i></span>
                <span>Ir para a Loja</span>
              </a>
              <a class="level-item button is-danger is-outlined">
                <span class="icon is-small"><i class="fa fa-heart"></i></span>
                <span>2</span>
              </a>
              <span>enviada 24 minutos atrás</span>
            </div>
            <div class="level-right">
              <a class="level-item has-text-centered">
                <figure class="image is-48x48">
                  <img class="user-avatar" src="http://placehold.it/48x48">
                </figure>
                Lucas
              </a>
            </div>
          </nav>
        </div>
      </article>
    </div>
  </div>
</div>


<div class="modal" id="comments-modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Comentários</p>
          <button class="delete"></button>
        </header>
        <section class="modal-card-body">
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img class="user-avatar" src="https://lh6.googleusercontent.com/-6nVdZgM_Cpg/AAAAAAAAAAI/AAAAAAAAABg/y4hKB7Buc_M/photo.jpg">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Chico Bioca</strong>
                  <br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                  <br>
                  <small><a>Curtir</a> · <a>Responder</a> · 3 hrs</small>
                </p>
              </div>

              <article class="media">
                <figure class="media-left">
                  <p class="image is-48x48">
                    <img class="user-avatar" src="https://pbs.twimg.com/profile_images/575291377925255169/EBbqJL0-.jpeg">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Júlio da Gaita</strong>
                      <br>
                      Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.
                      <br>
                      <small><a>Curtir</a> · <a>Responder</a> · 2 hrs</small>
                    </p>
                  </div>     
                </div>
              </article>

              <article class="media">
                <figure class="media-left">
                  <p class="image is-48x48">
                    <img class="user-avatar" src="https://s-media-cache-ak0.pinimg.com/236x/22/2f/03/222f036ff92f8a91f85b0c68bfb1049e.jpg">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Ruan Moreira</strong>
                      <br>
                      Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.
                      <br>
                      <small><a>Curtir</a> · <a>Responder</a> · 2 hrs</small>
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </article>
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img class="user-avatar" src="https://avatars1.githubusercontent.com/u/3685788?v=3&s=466">
              </p>
            </figure>
            <div class="media-content">
              <p class="control">
                <textarea class="textarea" placeholder="Enviar um comentário..."></textarea>
              </p>
              <p class="control">
                <button class="button is-primary is-outlined">Comentar</button>
              </p>
            </div>
          </article>
        </section>
        <footer class="modal-card-foot">
        </footer>
      </div>
    </div>