<div class="columns is-mobile">
  <div class="column is-8 is-offset-2">
    <nav class="level">
      <div class="level-item has-text-centered">
        <p class="heading">Lucas</p>
        <p class="title">
          <figure class="image is-128x128 profile-image">
            <img class="user-avatar" src="https://avatars1.githubusercontent.com/u/3685788?v=3&s=466">
          </figure>       
        </p>
      </div>
      <div class="level-item has-text-centered">
        <p class="heading">Comentários</p>
        <p class="title">123</p>
      </div>
      <div class="level-item has-text-centered">
        <p class="heading">Ofertas</p>
        <p class="title">249</p>
      </div>
      <div class="level-item has-text-centered">
        <p class="heading">Curtidas</p>
        <p class="title">789</p>
      </div>
    </nav>    
  </div>
</div>


<div class="container">
  <h2 class="title is-4">Últimos Comentários</h2>
  <div class="profile-comments">
    <span>Sofá 3 Lugares Reclinável e Assento Retrátil Michelangelo Suede Marrom - Orb</span>
  </div>
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img class="user-avatar" src="https://avatars1.githubusercontent.com/u/3685788?v=3&s=466" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Lucas Duarte</strong> <small>31m</small>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
          </p>
        </div>
      </div>
    </article>
  </div>
  <div class="profile-comments">
    <span>Smart TV LED 48" Samsung UN48J5500AGXZD Full HD com Conversor Digital 3 HDMI 2 USB Wi-Fi 120Hz CMR</span>
  </div>
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img class="user-avatar"  src="https://avatars1.githubusercontent.com/u/3685788?v=3&s=466" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Lucas Duarte</strong> <small>31m</small>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
          </p>
        </div>
      </div>
    </article>
  </div>
  <div class="profile-comments">
    <span>Notebook ASUS Z550MA-XX005T Intel Celeron Quad Core 4GB 500GB LED 15,6" Windows 10 - Branco</span>
  </div>
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img class="user-avatar" src="https://avatars1.githubusercontent.com/u/3685788?v=3&s=466" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Lucas Duarte</strong> <small>31m</small>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
          </p>
        </div>
      </div>
    </article>
  </div>
</div>