/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
*/

$primary: #5E0A5E;

@import "bulma";

.white-text {
  color: white;
}

.app-main {
    padding: 40px 20px;
}

.promotions-nav {
  font-size: 1.2rem;
}

.promotions-image {
  width: 180px;
  height: 180px;
}

.promotions-title {
  font-size: 1.8rem;
    word-break: break-word;
  font-weight: 400;
}

.promotions-price {
  font-size: 2.5rem;
  font-weight: 400;
  color: #ff3860;
}

.user-avatar {
  border-radius: 30px;
}
 
.profile-image {
  margin: 0 auto;
}

.profile-comments {
  margin-bottom: 5px;
}

/* BULMA.IO Overrides */
.media-content {
  margin-left: 20px;
}

.level-left .level-item:not(:last-child){
    margin-right: 20px;
}

.footer {
  background-color: #fff;
  padding: 40px 20px 40px;
}